@use '../config/variables' as var;
@use '../config/functions' as fun;

.documentation{
    padding: 60px 0;
    &__block{
        margin: 15px 0 10px;
    }
    &__part{
        margin: 25px 0;
        padding-bottom: 25px;
        border-bottom: 2px solid var.$cuartary-color;
    }
}
//ESTRUCTURA CÓDIGO
.documentation__example{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var.$block-code;
    padding: 15px 20px;
    border-radius: 10px;
    margin: 20px 0;
    code{
        display: flex;
        align-items: center;
        font-size: 1.6rem;
    }
    .token{
        font-style: italic;
        &.symbol{
            color: var.$code-symbol;
        }
        &.parameter{
            color: var.$code-parameter;
        }
        &.tag{
            color: var.$code-tag;
        }
        &.atr{
            color: var.$code-atr;
        }
    }
}