html {
    font-size: 62.5%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li,
label,
option,
th,
td,
tr,
em,
strong,
b,
div,
input,
input::placeholder,
::before,
::after,
legend {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
