@use '../config/variables' as var;


body{
    background-color: var.$primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.JVform{
    width: 90%;
    max-width: 1080px;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    .block-input{
        flex: 1 500px;
        &.submit{
            width: 100%;
            flex: 1 100%;
            display: flex;
            justify-content: center;
        }
        &.w100{
            width: 100%;
            flex: 1 100%;
        }
        .flex{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
        }
        .fit-content{
            width: fit-content;
        }
    }
}

.JVform{
    label{
        color: var.$white;
        font-size: 1.5rem;
    }
    input[type="text"],
    input[type="email"],
    input[type="number"],
    textarea{
        margin-top: .5rem;
        border: none;
        border: 1.5px solid var.$white;
        outline: inherit;
        background-color: transparent;
        padding: 1rem 1.5rem;
        border-radius: .5rem;
        color: var.$white;
        font-size: 1.4rem;
        width: 100%;
    }
    input[type="number"]{
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button{
            appearance: none;
        }
    }
    input[type="checkbox"]{
        appearance: none;
        width: 20px;
        height: 20px;
        border: 1.5px solid var.$white;
        border-radius: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        &::before{
            position: absolute;
            content: "✓";
            font-size: 1.3rem;
            color: var.$white;
            opacity: 0;
            pointer-events: none;
            transition: .3s ease opacity;
        }
        &:checked{
            &::before{
                opacity: 1;
            }
        }
    }
    input[type="radio"]{
        appearance: none;
        width: 18px;
        height: 18px;
        border-radius: 100px;
        border: 1.5px solid var.$white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s ease background-color;
        &::before{
            position: absolute;
            content: "";
            width: 7px;
            height: 7px;
            border-radius: 100px;
            background-color: var.$secondary-color;
            opacity: 0;
            transition: .3s ease opacity;
        }
        &:checked{
            background-color: var.$white;
            &::before{
                opacity: 1;
            }
        }
    }
    textarea{
        resize: none;
        height: 150px;
    }
    button[type="submit"],
    input[type="submit"]{
        background-color: var.$secondary-color;
        border: none;
        outline: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 20px;
        color: var.$white;
        font-size: 1.6rem;
        border-radius: 5px;
        cursor: pointer;
        text-transform: uppercase;
    }
}